
<!DOCTYPE html>
<html>
{% load pwa %}
{% load static %}
<head>
    {% progressive_web_app_meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin=""/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <link rel="apple-touch-icon" sizes="128x128" href="{% static 'home/house2.jpg' %}">
    <script src="https://kit.fontawesome.com/b2bccd6173.js" crossorigin="anonymous"></script>
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
       integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
       crossorigin=""></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

	{% if title %}
	      <title>Zajednica stanara - {{ title }}</title>
	  {% else %}
	      <title>Zajednica stanara</title>
      {% endif %}
    {% block styles %}
    {% endblock %}
</head>
{% if user.is_authenticated %}
<body>
{% else%}
<body style="padding-top: 62px;">
{% endif %}
	<!--<header class="site-header">-->
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <!--<div class="navbar-nav">-->

	     {% if user.is_authenticated %}
	         {% if 'papir' in request.path %}
	              <a class="navbar-brand mr-5 font-weight-bold" href="/" style="font-style: italic; font-size: 22px; margin-left: auto;"><img src="{% static 'home/kapica.png' %}" style="width: 32px;"></a>
	          {% else %}
    	          {% if not user.profile.is_organisation %}
    	              {% if not user.is_director %}
    	              <!--If user is a regular tenant, there should be the address-name of his or her ulaz in the navbar, if user is upravnik only Pocetna-->
    	                  <a class="navbar-brand mr-5 font-weight-bold" href="{% url 'app-home' %}" style="margin-left: auto;">{{ ulaz }}</a>
    	              {% else %}
    	                  <a class="navbar-brand mr-5 font-weight-bold" href="{% url 'app-home' %}" style="margin-left: auto;">Početna</a>
    	              {% endif %}
    	           <!--What should be the case if user is an organisation?-->
    	          {% endif %}
	         {% endif %}
	      {% else %}
	          <a class="navbar-brand mr-5 font-weight-bold" href="/" style="font-style: italic; font-size: 22px; margin-left: auto;"><img src="{% static 'home/kapica.png' %}" style="width: 40px;"></a>
	      {% endif %}
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
    	      <ul class="navbar-nav">
    	          <!--Authenticated users have a link their ulaz-website in the navbar-->
    	          {% if user.is_authenticated %}
    	        	  {% if not user.profile.is_organisation %}
    	                 <li class="nav-item">
    	                    <a class="nav-link" href="{{ website }}">Naš vebsajt</a>
    	                </li>
    	              {% endif %}
    	          {% endif %}
    	     </ul>
    	     <!--Navbar Right Side-->
    	     <ul id="nav-righ" class="navbar-nav ml-auto">
    	        {% if user.is_authenticated %}
    	        <li class="nav-item text-light">
                      <a href="#" class="text-light nav-link">Beograd</a>
                  </li>
                  <li class="nav-item ">
                      <a href="#" class="text-light nav-link" style="margin-right: 10px;">Srbija</a>
                  </li>
    	        <li id="inbox-item" class="nav-item">
                      <a href="{% url 'message-list' %}"><i id="envelope-icon" class="fas fa-envelope"><span id="message-count" style="display: none'"></span></i></a>
                  </li>
                  <li class="nav-item">
                	  <i id="bell-icon" class="fas fa-bell">
                	    <span id="notification-count"></span>
                	  </i>
                  </li>
    	        	{% if not user.profile.is_organisation %}
        	        	<li class="nav-item">
        	        	    <a class="nav-link" href="{% url 'profile' %}">Moj profil </a>
        	        	</li>
        	        	{% if not user.is_director %}
            	        	<li class="nav-item">
            	        	    <a class="nav-link" href="{% url 'post-create' %}">Novi post </a>
            	        	</li>
            	        {% endif %}
    	        	{% endif %}
    	        	<li class="nav-item">
    	        	    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    	        	</li>
    	        {% else %}
        	        <li class="nav-item">
        	            <a class=" nav-link" href="{% url 'login' %}">Login</a>
        	        </li>
        	        <li class="nav-item">
        	            <a class="nav-item nav-link" href="{% url 'register1' %}">Registracija</a>
        	        </li>
    	        {% endif %}
    	        </ul>
	        </div>
	  </nav>
      <!--<div class="content-section pt-4">-->
	<!--</header>-->
	<!--</header>-->
	{% if user.is_authenticated %}
	    <ul id="between" class="nav justify-content-between" style="height: 60px; margin-top: 10px; background-color: #bab7b6; padding-top: 6px;">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app-home' %}"><i class="fas fa-home fa-lg text-light"></i><span class="sr-only">(current)</span></a>
          </li>
           <li class="nav-item" style="pointer-events: none; opacity: 0.5;">
            <a class="nav-link" href="#"><i class="fas fa-users fa-lg text-light"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user-circle fa-lg text-light"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'message-list' %}"><i class="fas fa-envelope fa-lg text-light" onclick="markSeen()"><span id="message-count-mobile"></span></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post-create' %}"><i class="fas fa-edit fa-lg text-light"></i></a>
          </li>
          <li class="nav-item" style="pointer-events: none; opacity: 0.5;">
            <a class="nav-link" href="#"><i class="fas fa-bell fa-lg text-light"></i></a>
          </li>
    </ul>
    {% endif %}
	<div class="header" style="text-align: center;">
      <h2><a href="#">Zajednica Stanara</a></h2>
      <p>Zajedno smo jači</p>
    </div>
    {% block main_content %}
    {% endblock main_content %}

    {% block messages %}
    {% endblock messages %}
	<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!--If user is authenticated check if he or she received any messages-->
    {% if user.is_authenticated %}
        <script>
        //on page load send request to url for checking messages
            window.onload = function(){
                var user_id = {{ user.id }}
                var url = 'https://zajednicastanara.pythonanywhere.com/check_messages/' + user_id.toString();
                fetch(url, {
                  method: 'GET',
                  headers: {
                  'Content-Type':'application/json',
                  'Accept': 'application/json'
                  },
                })
                //If data array is not empty, check how many elements have seen property set to False, and add that num to the navbar.
                .then(response => response.json())
                .then((data) => {
                  console.log('Success:', data);
                  if(data.length > 0){
                      var total = 0;
                      const newMsgs = [];
                      for(var i = 0; i < data.length; i++){
                          if(data[i].seen == false){
                              total += 1;
                              newMsgs.push(data[i].id)
                          }
                      }
                      localStorage.setItem("newMessages", JSON.stringify(newMsgs));
                      if(total > 0){
                          console.log(total);
                          if ($(document).width() > 600){
                              document.getElementById('message-count').innerHTML = total;
                          } else {
                              document.getElementById('message-count-mobile').innerHTML = total;
                          }
                      }
                  };
                })
                .catch(error => {
                    console.log("Error")
                  console.error('Error:', error);
                });
            }

        //   console.log(storageProfile);
          function markSeen(){
                var user_id = {{ user.id }}
                let storageProfile = localStorage.getItem("newMessages");
                const data = { "new_seen": storageProfile };
                console.log(data);
                fetch('https://zajednicastanara.pythonanywhere.com/mark_seen/' + user_id.toString(), {
                  method: 'POST', // or 'PUT'
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                .then(response => response.json())
                .then(data => {
                  console.log('Success:', data);
                })
                .catch((error) => {
                  console.error('Error:', error);
                });
          }
        </script>
    {% endif %}
    <script>


    	$("#update-profile-btn").click(function(){
    		$("#profile-form").css('display', 'block');
    		$(this).css('display', 'none');
    		$("#profile-form-hide-btn").css('display', 'block');
    	});
    	$("#profile-form-hide-btn").click(function(){
    		$("#profile-form").css('display', 'none');
    		$(this).css('display', 'none');
    		$("#update-profile-btn").css('display', 'block');
    	});
    </script>
    <script>
    	$('#kvar-prijavi').click(function (){
    	    $('#kvar-list').toggle(1000);
    	});
    	$('#prijavi-kvar').click(function (){
    	    $('#list-kvar').toggle(1000);
    	});
    </script>
</body>
</html>