{% extends 'home/base.html' %}
{% load static %}
{% block content%}
    <article class="media content-section mt-2 border-0">
	  <div class="media-body">
	  	<h2 class="mt-3">O Zajednici stanara</h2>
	  	<br>
	  <img id="frontpage-img" src="{% static 'home/building.jpg' %}"><br><br>
         <p>Ovo je sajt za članove stambenih zajednica. Ovde mogu da se dobiju bitne servisne informacije od nadležnih institucija i da se razmene informacije sa komšijama...  </p>
      </div>
    </article>
{% endblock content %}