{% extends 'home/base_content.html' %}
{% load static %}
{% block content%}

    <article class="media content-section mt-1 border-0">
	  <div class="media-body">

	  	<h2 id="frontpage-title">O Zajednici Stanara</h2>
	  	<br>
	  <img id="frontpage-img" src="{% static 'home/house2.jpg' %}">
	  <small id="image-credits" style="display: block;">Image by <a href="https://pixabay.com/users/lavnatalia-5858294/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2700671">Natalia Lavrinenko</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2700671">Pixabay</a></small>
	  <br>
         <p id="frontpage-body">Ovo je sajt za članove stambenih zajednica. Ovde mogu da se dobiju bitne servisne informacije od nadležnih institucija i da se razmene informacije sa komšijama...  </p>
      </div>
    </article>
{% endblock content %}