
{% extends 'home/base_content.html' %}

{% block content%}
	{% for post in posts %}

	  <article class="media content-section p-2" style="position: relative;">
	  <div id="post-body" class="media-body">
	    <div class="article-metadata">
	    {% if user == post.author %}
	        <img class="rounded-circle post-author-img" src="{{ user.profile.image.url }}">
	        <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
	    {% else %}
	        {% if post.author == upravnik.user %}
	            <a class="mr-2" href="{% url 'manager' %}">{{ post.author }}</a>
	        {% else %}
	            <a class="mr-2" href="{% url 'user-profile' post.author.id %}">{{ post.author }}</a>
	        {% endif %}
	    {% endif %}
	      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
	    </div>
	    <h2><a class="article-title pl-3" href="{% url 'post-detail' post.id %}" style="color: #139FD7;">{{ post.title }}</a></h2>
	    <a class="post-content" href="{% url 'post-detail' post.id %}">{{ post.Sadržaj|safe }}</a>
	    {% if post.anketa_id != None %}
	        <p>
	            <a class="btn-lg btn-success border-0 pl-3" href="{% url 'poll-vote' post.anketa_id %}" style="font-size: 30px; background-color: deepskyblue; border-radius: .2rem;">
	            Anketa: {{ post.anketa_title }}</a>
	        </p>
	    {% endif %}
	    <ul class="list-inline pl-3">
	     {% for tag in post.tags.all %}
	         {% if tag.name == "upozorenje" %}
	             <li class="list-inline-item tag-item"><a href="{% url 'app-tagged' tag.slug %}">#{{ tag }}</a></li>
	         {% else %}
        	    <li class="list-inline-item"><a href="{% url 'app-tagged' tag.slug %}" style="color: #0083eb;">#{{ tag }}</a></li>
        	{% endif %}
        {% endfor %}
    </ul>
    <p class="pl-3">
        <i class="far fa-thumbs-up mt-4"></i>&nbsp;
        <span>{{ post.likes_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-comment-dots"></i>&nbsp;
        <span>56</span>
        {% if post.anketa_id == None %}
            <a href="{% url 'post-detail' post.id %}" class="btn btn-outline-info" style="position: absolute; right: 20px;">
                <small style="font-weight: 600;">pročitaj</small>&nbsp;
                <i class="fas fa-long-arrow-alt-right" style="position: relative; top: 2px;">

                </i>
            </a>
        {% endif %}
    </p>

	</div>

	</article>
	{% endfor %}
	{% if is_paginated %}
	    {% if page_obj.has_previous %}
		    <a class="btn btn-outline-info mb-4" href="?page=1">Prva</a>
		    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Prethodna</a>
	    {% endif %}
	    {% for num in page_obj.paginator.page_range %}
	        {% if page_obj.number == num %}
	            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
	        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
	            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
	        {% endif %}
	    {% endfor %}
	    {% if page_obj.has_next %}
		    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Sledeća</a>
		    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Poslednja</a>
	    {% endif %}
	{% endif %}
{% endblock content %}

