{% extends 'home/base_content.html' %}
{% load crispy_forms_tags %}
{% block content%}
	<article class="media content-section p-3">
	  <img class='rounded-circle article-img' src="{{ post.author.profile.image.url }}" alt="">
	  <div class="media-body">
	    <div class="article-metadata">
	    	{% if object.author.is_director %}
	    	    {% if object.author == user %}
	                <a class="mr-2" href="{% url 'user-profile' object.author.id %}">{{ object.author }}</a>
	            {% else %}
	                <a class="mr-2" href="{% url 'manager' %}">{{ object.author }}</a>
	            {% endif %}
	        {% else %}
	            {% if object.author == user %}
	                <a class="mr-2" href="{% url 'profile' %}">{{ object.author }}</a>
	            {% else %}
	                <a class="mr-2" href="{% url 'user-profile' object.author.id %}">{{ object.author }}</a>
	            {% endif %}
	        {% endif %}
	      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
	    </div>
	    <h2 class="article-title">{{ object.title }}</h2>
	    <p class="article-content">{{ object.Sadržaj|safe }}</p>
	    <p>Komentari<span> ({{ comments.count }})</span></p>
	    {% for comment in comments %}
		  <article class="media content-section">
			  <div class="media-body">
			    <div class="article-metadata">
			    {% if user == comment.author %}
			      <a class="mr-2" href="{% url 'profile' %}">{{ comment.author }}</a>
			    {% else%}
			      <a class="mr-2" href="{% url 'user-profile' comment.author.id %}">{{ comment.author }}</a>
			    {% endif %}
			      <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
			    </div>
			    <p class="article-content">{{ comment.text }}</p>
			  </div>
			</article>
		{% endfor %}
		<div>
	  	  {% if object.author == user %}
	      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Izmeni</a>
	      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Obriši</a>
	      {% endif %}
	    </div>
		<p>Napiši komentar</p>
		<form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb 4"></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Pošalji</button>
            </div>
        </form>
	  </div>
	</article>

{% endblock content %}