{% extends 'home/base_content.html' %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="content-section p-3">
        <br>
      <!-- <h2 class="ml-2 mb-4 mt-2">Dokumenti</h2> -->
      <ul class="pl-3" style="list-style: initial;">
        <a href="http://stanovanje.gov.rs/doc/zakon%20o%20stanovanju%203110.pdf"><li class="mb-2">Brošura o zakonu o stanovanju i održavanju zgrada <span class="pdf"><i class="fas fa-file-pdf"></i></span></li></a>
        <a href="http://stanovanje.gov.rs/latinica/propisi.php"><li class="mb-2">Zakon stanovanju i održavanju zgrada</li></a>
        <a href="http://stanovanje.gov.rs/latinica/registar-stambenih-zajednica.php"><li class="mb-2">Registar stambenih zajednica</li></a>
        <a href="http://stanovanje.gov.rs/latinica/odrzavanje-zgrade.php"><li class="mb-2">Održavanje zgrada</li></a>
        <a href="http://stanovanje.gov.rs/latinica/energetska-efikasnost.php"><li class="mb-2">Energetska efikasnost u zgradama</li></a>
      </ul>
      <!-- <div class="media">
        {% if user.profile.image.url == '/media/default.jpg' %}
        <div id=pic-box>
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <small>Image by <a href="https://pixabay.com/users/WandererCreative-855399/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=973460">Stephanie Edwards</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=973460">Pixabay</a></small>
        </div>
        {% else %}
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div> -->
    </div>
{% endblock content %}