{% extends 'home/base_content.html' %}
{% load crispy_forms_tags %}

{% block content%}

    <div id="manager-ranking" class="content-section p-3">

      <div class="row">
          <div class="col-6">
              <h4>Ocene upravnika</h4>
          </div>
          <div class="col-6">
              <div class="input-group">
                  <div class="form-inline ml-auto">
                    <input type="search" id="form1" class="form-control" placeholder="pretraga" />
                  </div>
              </div>
          </div>
      </div>

      <!--<hr>-->
      <!--<ol>-->
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Ocena</th>
                  <th></th>
                  <th scope="col" style="padding: 0px 0px 10px 35px !important;">Ime i prezime</th>
                  <th scope="col">Firma</th>
                  <th scope="col">Broj ocenjivača</th>

                </tr>
            </thead>
            <tbody>
            {% for item in upravnici %}
                {% if 1 == 1 %}
                <tr>
                    <td style="width: 3%;">{{ item.prosecna_ocena|floatformat:2 }}</div>
                    <td class="star-ratings">
                      <!-- <div class="fill-ratings text-center" style="width: calc({{item.prosecna_ocena}} * 10%);">
                        <span>★★★★★</span>
                      </div> -->
                      <!-- <div class="empty-ratings">
                        <span>★★★★★</span>
                      </div> -->
                    </td>
                    <td><a href="{% url 'manager_public' item.id %}" style="padding: 0px 0px 0px 20px !important; text-align: center; font-family: Metropolis; font-size: 1rem; font-weight: 400; text-align: left;">{{item.user.first_name}} {{item.user.last_name}}</a></td>
                    <td>Kosmaj</td>
                    <td>{{ item.broj_ocenjivaca }}</td>
                    <!--<a href="{% url 'manager_public' item.id %}"><li class="mb-1">{{item.first_name}} {{item.last_name}}<span> -  {{ item.ocena|floatformat:2 }}</span><small>; Broj ocenjivača: {{ item.broj_ocenjivaca }}</small></li></a>-->
                </tr>
                {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td><a href="{% url 'manager_public' item.id %}" style="padding: 0px 0px 0px 20px !important; font-family: Metropolis; font-size: 1rem; font-weight: 400; text-align: left;">{{item.user.first_name}} {{item.user.last_name}}</a></td>
                    <td>Kosmaj</td>
                    <td>{{ item.broj_ocenjivaca }}</td>
                    <!--<a href="{% url 'manager_public' item.id %}"><li class="mb-1">{{item.first_name}} {{item.last_name}}<span> -  Nije ocenjivan</span></li></a>-->
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
      <!--</ol>-->
      <!-- <div class="media">
        {% if user.profile.image.url == '/media/default.jpg' %}
        <div id=pic-box>
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <small>Image by <a href="https://pixabay.com/users/WandererCreative-855399/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=973460">Stephanie Edwards</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=973460">Pixabay</a></small>
        </div>
        {% else %}
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div> -->
    </div>
    {% if is_paginated %}
	    {% if page_obj.has_previous %}
		    <a class="btn btn-outline-info mb-4" href="?page=1">Prva</a>
		    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Prethodna</a>
	    {% endif %}
	    {% for num in page_obj.paginator.page_range %}
	        {% if page_obj.number == num %}
	            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
	        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
	            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
	        {% endif %}
	    {% endfor %}
	    {% if page_obj.has_next %}
		    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Sledeća</a>
		    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Poslednja</a>
	    {% endif %}
	{% endif %}
    <script>
       $(document).ready(function() {
          // Gets the span width of the filled-ratings span
          // this will be the same for each rating
          var star_rating_width = $('.fill-ratings span').width();
          // Sets the container of the ratings to span width
          // thus the percentages in mobile will never be wrong
          $('.star-ratings').width(star_rating_width);

        });
    </script>

{% endblock content %}



<!--<table class="table table-dark">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">#</th>-->
<!--      <th scope="col">First</th>-->
<!--      <th scope="col">Last</th>-->
<!--      <th scope="col">Handle</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Mark</td>-->
<!--      <td>Otto</td>-->
<!--      <td>@mdo</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td>Larry</td>-->
<!--      <td>the Bird</td>-->
<!--      <td>@twitter</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
