{% extends 'home/base_content.html' %}
{% load crispy_forms_tags %}

{% block content%}

    <div class="content-section p-3">
      <div class="media" id="manager-media">
        {% if upravnik.user.profile.image.url == '/media/default.jpg' %}
        <div id="pic-box" class="ml-2">
            <i class="fas fa-user-circle fa-8x text-secondary"></i>
        </div>
        {% else %}
            <img class="rounded-circle account-img" src="{{ upravnik.user.profile.image.url }}">
        {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ upravnik.user.first_name }} {{ upravnik.user.last_name }}</h2>
          {% if upravnik.user.profile.image.url == '/media/default.jpg' %}
            <div id="pic-box-media" class="mb-3">
                <i class="fas fa-user-circle fa-8x text-secondary"></i>
            </div>
          {% else %}
            <img class="rounded-circle account-img" src="{{ upravnik.user.profile.image.url }}">
          {% endif %}
          <p class="text-secondary">{{ upravnik.user.email }}</p>
          <p class="text-secondary">
              064/234-3219 &nbsp;&nbsp;
              <a href="viber://chat/?number=%2BPHONENUMBERWITHCOUNTRYCODE">
                  <i class="fab fa-viber fa-lg" aria-hidden="true" style="color: #8f5db7;"></i>
              </a>&nbsp;
              <a href="skype:profile_name?userinfo">
                  <i class="fab fa-skype fa-lg" aria-hidden="true" style="color: #00aff0;"></i>
              </a>
          </p>
          <p class="text-secondary">{{ upravnik.vrsta }}</p>
          {% if "Profesionalni upravnik" in upravnik.vrsta  %}
            {% if upravnik.website %}
              <p class="text-secondary">Preduzeće: {{ upravnik.firma }}<a href="{{ upravnik.website }}"><small> - website</small></a></p>
            {% else %}
              <p class="text-secondary">Preduzeće: {{ upravnik.firma }}</p>
            {% endif %}
            <p class="text-secondary">Prosečna ocena: {{ ocena_upravnika }}</p>
            <small>Broj ocenjivača: {{ broj_ocenjivaca }}</small>
          {% endif %}
        </div>
      </div>
      <div>
          {% if upravnik.user.profile.o_sebi %}
              <h3>O sebi</h3>
              <figure class="col-md-10 mt-4 ml-2">
                  <blockquote class="text-secondary">{{ upravnik.user.profile.o_sebi  }}</blockquote>
              </figure>
          {% endif %}

      </div>
   <!--  <form id="profile-form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb 4">Profile info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form> -->

      <!-- FORM HERE -->
      <button id="message_to_upravnik_btn"class="btn btn-success mb-3 ml-1">Piši upravniku</button>
    <div id="message_to_upravnik_form"  class="content-section">
        <span id='close-mngr-msg'>x</span>


      <form method="POST" action="">
          {% csrf_token %}
          <fieldset class="form-group">
             <legend class="mb 4"></legend>
               {{ message_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button id="m-btn" class="btn btn-success" name="message-button" type="submit" disabled>Posalji</button>
          </div>
      </form>

    </div>

    </div>



    <div class="content-section p-3">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb 4"></legend>
                {{ upravnik_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" name="survey-button" type="submit">Oceni</button>
            </div>
        </form>
    </div>
    <a href="{% url 'upravnik-posts' upravnik.user.id %}"><h4 class="ml-3">Postovi upravnika (<span>{{ posts.count }}</span>)</h4></a><hr>

  {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">Prva</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Prethodna</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Sledeća</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Poslednja</a>
      {% endif %}
  {% endif %}
    <!-- <div class="form-group">
        <button id="update-profile-btn" class="btn btn-outline-info ml-4">Update profile</button>
    </div>
    <div class="form-group">
        <button id="profile-form-hide-btn" class="btn btn-outline-info ml-4">Hide</button>
    </div>  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script type="text/javascript">
    //   $(function(){
        $('#message_to_upravnik_btn').click(function(){
            // $('#message_to_upravnik_form form').toggle();
          $('#message_to_upravnik_form').css('display', 'block');
          $('#message_to_upravnik_form form').css('display', 'block');
          $('#close-mngr-msg').css('display', 'block');
          $(this).css('display', 'none');
        });
    //   });
    //   window.onload = function(){
        document.getElementById('close-mngr-msg').onclick = function(){
            $('#message_to_upravnik_btn').css('display', 'block');
            $('#message_to_upravnik_form').css('display', 'none');
            $('#close-mngr-msg').css('display', 'none');
            return false;
        };
    // };
    </script>
    <script>
	        var button = document.getElementById("m-btn");
            var input = document.querySelector("[required_id='id_content']");
            console.log(document.getElementsById("textarea")[0]);

            document.getElementsByTagName("textarea")[0].addEventListener("keyup", function(e) {
               console.log("Hi")
               var inputValue = e.target.value;
               if (inputValue.length > 0) {
                  console.log("Hello");
                  button.disabled = false;
               } else {
                   console.log("Goodbye")
                   button.disabled = true;
               }
            })
        </script>

{% endblock content %}