{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="content-section">
      <h2>Lista upravnika prema ocenama</h2>
      <hr>
      <ol>
        {% for item in upravnik_list %}
          {% if item.ocena != None %}
            <a href="{% url 'manager_public' item.id %}"><li class="mb-1">{{item.first_name}} {{item.last_name}}<span> -  {{ item.ocena }}</span></li></a>
          {% else %}
            <a href="{% url 'manager_public' item.id %}"><li class="mb-1">{{item.first_name}} {{item.last_name}}<span> -  Nije ocenjivan</span></li></a>
          {% endif %}

        {% endfor %}
      </ol>
      <!-- <div class="media">
        {% if user.profile.image.url == '/media/default.jpg' %}
        <div id=pic-box>
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <small>Image by <a href="https://pixabay.com/users/WandererCreative-855399/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=973460">Stephanie Edwards</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=973460">Pixabay</a></small>
        </div>
        {% else %}
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div> -->
    </div>
{% endblock content %}